body {
  text-align: center;
}
.card-zone-div {
  text-align: center;
  padding: 20px;
  border: 3px purple dashed;
  width: 60%;
  margin: auto;
}

.board {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border: 3px dotted black;
  min-height: 200px;
}

.card-list {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border: 3px dotted black;
}

.card-list img {
  height: 100%;
  width: 12%;
  object-fit: cover;
  margin: 0.25%;
}