body {
  text-align: center;
}

.card-zone {
  display: flex;
  max-width: 90%;
  height: 300px;
  margin: 10px auto;
  padding: 0px 10px;
  border: 3px dotted;
  justify-content: center;
  align-items: center;
}

.card-slot {
  border: 3px dashed;
  margin: auto;
  width: min-content;
}

.card-slot-selected {
  border: 10px double;
  margin: auto;
  width: min-content;
}

.card-slot img, .card-slot-selected img {
  width: 100px;
}

.card-slot div:not(:last-child), .card-slot-selected div:not(:last-child) {
  overflow: hidden;
  height: 15px;
}

.empty-pile {
  width: 100px;
  height: 150px;
}