body {
  text-align: center;
}

.card-zone {
  display: flex;
  flex-wrap: nowrap;
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px dotted;
}

.card-slot {
  text-align: center;
  border: 3px dashed;
  margin: auto;
}

.card-slot-selected {
  text-align: center;
  border: 10px double;
  margin: auto;
}

.card-slot img, .card-slot-selected img {
  width: 90px;
}